@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Instrument Sans', sans-serif;
}

section{
  min-height: 100vh;
  width: 100%;
}

.sec1 {
  background-color: rgb(15, 15, 15);
  border: solid rgb(63, 43, 43);
}
.text_p1 {
  color: rgb(167, 167, 167);
  padding-left: 20px;
}

.text_p1 h1 {
  background-color: rgb(25, 26, 26);
  display: inline-block;
  max-width: 90%;
  font-size: clamp(50px, 20vw, 120px);
  word-break: break-all;
}

.text_p1 h2 {
  color: rgb(109, 106, 106);
}

.sec2 {
  background: rgb(225, 225, 225);
}
.text_p2 {
  color: black;
}

.text_p2 h1 {
  display: inline-block;
  background-color: rgb(81, 82, 82);
}

.text_p2 h2 {
  color: rgb(81, 82, 82);
}
