@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


body {overflow-x: hidden; 
  width: 100%;
  font-family: 'Instrument Sans', sans-serif;
  background-color: rgb(255, 0, 0);
}

/* Section 1 */
.sec1{
  height: 100vh;
  width: 100%;
}

.page1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(167, 167, 167);
  padding: 20px;
  background-color: rgb(15, 15, 15);
}

.portfolio {
  display: block;
  width: fit-content;
  font-size: 70px;
  cursor: pointer;
  position: relative;
  top: 0;
  
  animation: slideUp 1s ease-out forwards;
  transition: all 0.3s ease; 
  transition:  top 0.3s ease, filter 0.3s ease;
}

.portfolio::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.portfolio:hover {
  filter: drop-shadow(0 0 5px rgba(148, 147, 147, 0.8));  
  top: -7px;
  color: white;
}

.portfolio:hover::after {
  transform: scaleX(1);
}

@keyframes slideUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .portfolio {
    font-size: 40px;
    text-align: center;
    padding: 20px;
  }
}

/* Section 2 */
.sec2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%; 
  position: relative;
  background-color: aliceblue;
}
.text2 {
  position: relative;
  width: fit-content;
  padding: 20px;
  color: black;
}

.wrap {
    background: rgb(149, 143, 143);
    width: fit-content;
    padding: 5px 15px;
    margin-bottom: 10px;
    color: black;
    animation: slideFromLeft 1s ease-out forwards;
  }

.h1 {
  font-size: 1.2rem;
}
.type {
  font-size: 1.rem;

  animation-delay: 0.8s;
}

.profile {
  width: 300px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  cursor: pointer;
  display: block;
}

.profile:hover {
  filter: grayscale(0%);
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (max-width: 568px) {
  .sec2 {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    height: auto;
    min-height: 100vh;
  }
  .text2 {
    width: 80%;
    text-align: center;
    animation: slideUp 1s ease-out forwards;
  }

  .profile {
    width: 80%;
    max-width: 300px;
    padding-left: 50px;
  }
}
/* Section 3 */
.sec3 {
  background: rgb(0, 0, 0);
  height: 100vh;
}

.page3 {
}

.page3 h1 {
  color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-top: 40px;
}