@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Instrument Sans', sans-serif;
}

body {
  background: rgb(249, 231, 207);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
}

