@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Manufacturing+Consent&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden; 
  width: 100%;
  font-family: 'Instrument Sans', sans-serif;
  background-color: rgb(0, 0, 0);
}

/* Section 1 */
.sec1{
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  width: 100%;
  position: relative;
}

.sec1::before, .circle_line {
  content: "";
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  z-index: 0;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.sec1::before { width: 450px; height: 450px; }
.circle_line { width: 1550px; height: 1550px; }

.sec1:has(.portfolio:hover) .circle_line{
  transform: translate(-50%, -50%) scale(0.5);
  border: 1px solid rgba(255, 255, 255, 0.6);

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.678);
              inset: 0 0 20px rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.646)); 
}

.sec1:has(.portfolio:hover)::before {
  transform: translate(-50%, -50%) scale(1.1);
  border: 1px solid rgba(255, 255, 255, 0.6);

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
              inset: 0 0 20px rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}

.sec1:has(.portfolio:hover) .page1 {
  background-color: rgb(0, 0, 0);
  transition: background-color 0.6s ease;
} 
.page1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(167, 167, 167);
  padding: 20px;
  background-color: rgb(15, 15, 15);
}

.port-wrap {
  animation: slideUp 1s ease-out forwards;
  transition: all 0.3s ease; 
  transition:  top 0.3s ease, filter 0.3s ease;
}

.portfolio {
  z-index: 2;
  display: block;
  width: fit-content;
  font-size: 70px;
  cursor: pointer;
  position: relative;
  top: 0;
  color: rgb(167, 167, 167);
  transition: color 0.3s ease, transform 0.3s ease, top 0.3s ease, filter 0.3s ease;
}

.portfolio.denied {
  color: #8b0000 !important;
  text-shadow: 0 0 20px rgb(160, 0, 0);
  animation: shake 0.3s ease-in-out;
}

.sub-title {
  color: rgba(167, 167, 167, 0.5);
  font-size: 12px;
  letter-spacing: 5px;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 2s ease forwards 1.5s;
}

.portfolio::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.portfolio:hover {
  filter: drop-shadow(0 0 5px rgba(148, 147, 147, 0.8));  
  top: -7px;
  color: white;
}

.portfolio:hover::after {
  transform: scaleX(1);
}

/* mouse scroll */
.scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;

  transform: translateX(-50%) translateY(30%);

  opacity: 0;
  animation: slideUpScroll 1s ease-out forwards 3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 5;
  
}
.scroll-text {
  color: rgb(167, 167, 167);
}
.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.wheel {
  width: 4px;
  height: 8px;
  background: white;
  border-radius: 2px;
  margin-top: 7px;
  animation: scrollAnim 2s infinite;
}

.title-wrap {
  text-align: center;
}



/* kumpulan keyframes */
@keyframes slideUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpScroll {
  0% {
    transform: translateX(-50%) translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes scrollAnim {
  0% { opacity: 1; transform: translateY(-3px);}
  100% { opacity: 0; transform: translateY(5px);}
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes shake {
  0%, 100% { transform: translateX(0);}
  25% { transform: translateX(-40px);}
  50% { transform: translateX(40px);}
  75% { transform: translateX(-40px);}
}

@media (max-width: 600px) {
  .portfolio {
    font-size: 40px;
    text-align: center;
    padding: 20px;
  }
}





/* Section 2 */
.sec2 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%; 
  position: relative;
  background-color: rgb(227, 227, 227);
  background-image: radial-gradient(#cfcbcb 0.7px, transparent 1.0px);
  background-size: 30px 30px;
  transition: background-color 0.8s ease, color 0.8s ease;
  z-index: 1;
}

.sec2::before {
  content: "";
  position: absolute;

  bottom: 10px;
  left: 10px;

  width: 700px;
  height: 480px;

  border-left: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);

  clip-path: inset(100% 100% 0% 0%);

  opacity: 1;
  transition: border-color 0.2s ease, clip-path 1.5s ease-out 1.5s;
}

.sec2.active::before {
  clip-path: inset(0% 0% 0% 0%);
}

/* profile hover */


.sec2:has(.profile-container:hover) {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.sec2:has(.profile-container:hover) .h1 h1,
.sec2:has(.profile-container:hover) .type_write {
  background-color: rgb(154, 158, 158);
  color: white;
  transition: all 0.5s ease;
}

.sec2:has(.profile-container:hover) .text2::before{
  background-color: white !important;
  transition: backgound-color 0.5s ease;
}

.sec2:has(.profile-container:hover)::before {
  border-color: rgb(255, 255, 255) !important;
  transition: border-color 0.1s ease;
}

.sec2.war-mode:has(.profile-container:hover){
  background-color: #0c0202 !important;
}

/* flip container */
.profile-container {
  width: 300px;
  height: 450px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  padding: 10px;
}

.profile-card{
  width: 100%;
  height: 400px;
  position: relative;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  pointer-events: none;
}

.profile-container:hover .profile-card {
  animation: glitch-fixed 0.3s infinite;
}

.profile-container:hover .profile {
  filter: grayscale(0);
  outline-offset: 0px;
  
  outline: 2px solid #3e0707 !important;

  box-shadow: 0 0 20px 5px rgba(79, 0, 0, 0.6);

  transition: all 0.3s ease;
}

.profile-card.flipped {
  transform: rotateY(180deg);
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  outline: 2px solid black;
  outline-offset: 15px;
  transition: filter 0.5s ease, outline-color 0.5s;
}

.profile.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.profile.back {
  transform: rotateY(180deg);
}


/* war-mode */

.sec2.war-mode {
  background-color: #210404 !important;
  background-image: radial-gradient(#530b0b 0.7px, transparent 1.0px);
}

.sec2.war-mode .h1 h1{
  background-color: #e06e6e;
}

.sec2.war-mode .h1 h1,
.sec2.war-mode .type_write,
.sec2.war-mode .text2 {
  color: #000000 !important;
}

.sec2.war-mode .text2::before{
  background-color: #000000 !important;
}
.sec2.war-mode::before {
  border-color: #000000 !important;
  background-color: #ffffff00 !important;
}

.sec2.war-mode .profile {
  outline-color: #ffffff;

  box-shadow: 0 0 30px 10px rgba(228, 1, 1, 0.6);
}

/* wrap text */
.text2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -300px;
  width: auto;
  padding: 20px;
  max-width: 500px;
  z-index: 2;
}

.text2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: black;

  transform: scaleY(0);

  transform-origin: top;
}

.sec2.active .text2::before {
  animation: garisMuncul 1s ease-out 1s forwards;
}

.wrap {
  width: fit-content;
  padding: 0;
  margin-bottom: 10px;
  display: table;
}

.h1 {
  background: rgb(149, 143, 143);
  width: fit-content;
  display: block;
  font-size: 16px;
  opacity: 0;
  transform: translateX(-50%);
}

.sec2.active .h1 {
  animation: slideFromLeft 1s ease-out forwards;
}

/* type animation */
.type {
  padding: 0;
}

.type_write {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid transparent; 
  width: 0; /* Mulai dari kosong biar ngetik */
}

.sec2.active .type_write {
  animation: 
  typing 2s steps(30) 1s forwards, 
  blink 0.75s step-end infinite;
}

.profile {
  width: 300px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  cursor: pointer;
  display: block;

  outline: 2px solid black;
  outline-offset: 15px;

  transition: all 0.5s ease;
}

.profile:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  outline-offset: 0px;
  background-color: rgb(90, 86, 86);
  background-image: radial-gradient(#685959 0.7px, transparent 1.0px);

  animation: glitch 0.3s infinite;
}

/* kumpulan keyframes */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; } 
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: rgb(0, 0, 0); }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes garisMuncul {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes glitch {
  0% { transform: translate(0) scale(1.02); }
  20% { transform: translate(-0.5px, 0.25px) scale(1.02); }
  40% { transform: translate(-0.5px, -0.25px) scale(1.02); }
  60% { transform: translate(0.5px, 0.25px) scale(1.02); }
  80% { transform: translate(0.5px, -0.25px) scale(1.02); }
  100% { transform: translate(0) scale(1.02); }
}

@keyframes glitch-fixed {
  0% {margin: 0;}
  25% {margin: -2px 2px;}
  50% {margin: 2px -2px;}
  75% {margin: -1px -1px;}
  100% {margin: 0;}
  
}

/* Media Query tetap sama */
@media (max-width: 568px) {
  .sec2 {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    height: auto;
    min-height: 100vh;
  }
  .text2 {
    width: 80%;
    text-align: center;
  }
  .profile {
    width: 80%;
    max-width: 300px;
  }
}



/* Section 3 */
.sec3 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: rgb(0, 0, 0);
  height: 100vh;
}

.screen {
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding: 50px 100px;
  position: relative;
  font-family: 'Oswald', sans-serif;
  color: #9da1a3;
  text-transform: uppercase;
}

.header {
  font-family: 'Manufacturing Consent', sans-serif;
  font-size: 80px; 
  color: #fff;
  text-shadow: 5px 5px 0px #000; 
  
  /* UBAH DI SINI */
  text-transform: capitalize; /* Dari 'uppercase' jadi 'capitalize' */
  
  letter-spacing: 2px;
  margin-bottom: 60px;
  font-style: italic;
}

.menu-container, .page-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.1s;
  width: fit-content;
}

.item .pointer {
  width: 50px;
  height: 70px;
  display: inline-block;
  margin-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-image: none;
  transition: all 0.1s;
}

.item:hover .pointer {
  background-image: url('assets/element/hover.gta.png');
}

.item:hover {
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 40px;
  right: 100px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
}

.back-btn {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}

.page-content {
  display: none;
  flex-direction: column;
  min-height: 500px;
  align-items: flex-start;
}

.item:hover {
  color: #fff;
}