@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Instrument Sans', sans-serif;
}

body {
  background: rgb(249, 231, 207);
}

.text {
  color: black;
}

.text h1 {
  display: inline-block;
  margin-top: 300px;
  margin-left: 110px;
  font-size:50px;
  background-color: rgb(81, 82, 82);
}

.text h2 {
  display: flex;
  margin-top: 5px;
  margin-left: 110px;
  font-size:50px;
  color: rgb(81, 82, 82);
}
